h1 {
     color: rgb(69, 3, 3);
   }

/*Barra de Navegacion*/
.navbar{
  padding: 2rem;
  background-color:antiquewhite;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px){
  .navbar-brand {
    display: none;
  }
}

/*Seccion Hero*/
.hero{
  background-color: antiquewhite;
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 3rem;
}

.hero-imagen-perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.hero-principal h2{
  font-size: 1.5rem;
  color: rgb(116, 59, 18);
}

/*Estilos Generales*/
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
}


h1{
  font-size: 2.5rem;
  font-family: "Rubik Dirt", cursive;
}

@media screen and (min-width: 700px) {
   .hero-imagen-inferior{
    max-width: 600px;
   }
}

.seccion-oscura{
  color: rgb(196, 147, 147);
  background-color: rgb(74, 36, 9);
}

/*Seccion About Me*/
.sobre-mi{
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor{
  max-width: 600px;
  text-align: center;
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-texto{
  font-size: 1.2rem;
}

.seccion-clara{
  color: black;
  background-color: azure;
}

/*Experiencia*/
.experiencia{
  padding: 40px 40px 60px 40px;
}

.experiencia-titulo{
  font: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i{
  font-size: 2.5rem;
  color: rgb(131, 0, 0);
  background-color: rgb(0, 0, 0);
  padding: 8px 19px;
  border-radius: 50px;
}

.badges-contenedor{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badge{
  margin: 5px;
}

.experiencia-columna{
  padding: 20px;
  border: 2px rgb(59, 27, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2 ease-in;
}

.experiencia .columna:hover{
  color: white;
  background-color: black;
}

/*Proyectos*/
.proyectos-recientes{
  padding: 40px;
}

.texto-negro{
  color: black;
}

.texto blanco{
  color: white;
}

.seccion-descripcion{
  font-size: 1.2rem;
  color: darkgoldenrod;
}

